.pac-container {
    z-index: 10000;
}

.fa.fa-user-circle-o {
    font-size: 150%;
}

.container {
    position: relative; 
    width: 90%; 
    margin: auto;
    margin-top: 2%;
    height: 50%;
}

.container #addButton {
    position: absolute; 
    top: 2.7%;
    right: 6%;
}

.container #map {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

